

<!--PARTIALS ABOUT FÓRM 2 FOR CONSTRUCT YOUR PROMPT-->>

<form action="promptGenerator" method="post" id="iform2">
    <h1 class="h1-prompts">Escolha abaixo opções de construção para Prompts</h1>

    <div class="questions">
        <h2>Qual ASSUNTO o texto deve abordar?</h2>
        <i class="material-icons">article</i>
        <p>Ex: "História do Brasil", "Politica", "Programação"</p>

        <input class="input-text" type="text" name="aboutText" id="aboutText2" placeholder="Escreva o assunto aqui..." required>
    </div>


    <div class="questions">
        <h2>Escolha o NIVEL DE DETALHAMENTO do texto</h2>
        <i class="material-icons">article</i>
        
        <select name="detalhamento" id="detalhamento2">
            <option value="" selected>Selecione o detalhamento</option>
            <optgroup label="Estilos">
                <option value="Resumido">Resumido</option>
                <option value="Intermediário">Intermediário</option>
                <option value="Extenso">Extenso</option>
                <option value="Minúncias e detalhes">Com minúncias e detalhes</option>
            </optgroup>
        </select>
    </div>


    <div class="questions">
        <h2>Escolha uma FORMATAÇÃO de texto</h2>
        <i class="material-icons">grid_view</i>

        <select name="formatosTextos" id="formatosTextos2">
            <option value="" selected>Selecione o formato</option>
            <optgroup label="Formatos">
                <option value="Narrativa escrita">Narrativa escrita</option>
                <option value="Pergunta direta">Pergunta direta</option>
                <option value="Estruturado por tópicos">Estruturado por tópicos</option>
                <option value="de diálogo">De diálogo</option>
                <option value="de Comando">De Comando</option>
                <option value="de Caso de Uso ou Cenário">De Caso de Uso ou Cenário</option>
                <option value="Contínuo (Texto Corrido)">Contínuo (Texto Corrido)</option>
                <option value="de Resumo">De Resumo</option>
                <option value="de Instrução Técnica">De Instrução Técnica</option>
            </optgroup>
        </select>               
    </div>



    <div class="questions">
        <h2>Qual o OBJETIVO exato do texto ?</h2>
        <i class="material-icons">check</i>
        <p>Ex: "Escrever um resumo", "Criar uma história", "Fornecer uma explicação"</p>

        <input class="input-text2" type="text" name="objectiveText" id="objectiveText2" placeholder="Escreva seu objetivo aqui..." required>
    </div>


    
    <div class="questions">
        <h2>Especifique o ESTILO desejado para o texto</h2>
        <i class="material-icons">palette</i>
        <select name="estilo" id="estilo2">
            <option value="" selected>Selecione o estilo</option>
            <optgroup label="Estilos">
                <option value="De forma concisa">De forma concisa</option>
                <option value="Com humor">Com humor</option>
                <option value="Em tom formal">Em tom formal</option>
                <option value="Em tom informal">Em tom informal</option>
                <option value="De forma persuasiva">De forma persuasiva</option>
                <option value="Em tom motivacional">Em tom motivacional</option>
                <option value="Em tom descritivo">Em tom descritivo</option>
                <option value="Em tom acadêmico">Em tom acadêmico</option>
                <option value="De forma poética">De forma poética</option>
                <option value="Em estilo jornalístico">Em estilo jornalístico</option>
                <option value="Em formato narrativo">Em formato narrativo</option>
                <option value="Com foco técnico">Com foco técnico</option>
            </optgroup>
        </select>
    </div>


    <div class="questions">
        <h2>Inclusão de EXEMPLOS</h2>
        <i class="material-icons">person</i>
        <select name="exemplos" id="exemplos2">
            <option value="" selected>Selecione exemplos</option>
            <optgroup label="Exemplos">
                <option value="Incluir exemplos práticos">Exemplos práticos</option>
                <option value="Explicação teórica sem exemplos">Explicação teórica sem exemplos</option>
                <option value="Explicação com analogias">Explicação com analogias</option>
            </optgroup>
        </select>
    </div>


    <div class="questions">
        <h2>Uso de FIGURAS e DIAGRAMAS</h2>
        <i class="material-icons">grid_view</i>

        <select name="FigurasDiagramas" id="FigurasDiagramas2">
            <option value="" selected>Figuras e diagramas</option>
            <optgroup label="Figuras e diagramas">
                <option value="Sinalização de figuras/diagramas">Sinalização de figuras/diagramas</option>
                <option value="Somente texto">Somente texto</option>
            </optgroup>
        </select>
    </div>


    <div class="questions">
        <h2>Defina oque NÃO DEVE ser incluido nele</h2>
        <i class="material-icons">close</i>
        <p>Ex: "Sem jargões técnicos", "Evite clichês", "Não deixe de mencionar referências"</p>

        <input class="input-text2" type="text" name="preferencias" id="preferencias2" required value="Não inclua: ">
    </div>


    <div class="questions">
        <h2>Indique PARA QUEM o texto é direcionado</h2>
        <i class="material-icons">person</i>
        <select name="publicoAlvo" id="publicoAlvo2">
            <option value="" selected>Selecione o publico</option>
            <optgroup label="publicoAlvo">
                <option value="Para adolescentes">Para adolescentes</option>
                <option value="Para profissionais de tecnologia">Para profissionais de tecnologia</option>
                <option value="Para profissionais do marketing">Para profissionais do marketing</option>
                <option value="Para um público geral">Para um público geral</option>
                <option value="Para crianças">Para crianças</option>
                <option value="Para estudantes universitários">Para estudantes universitários</option>
                <option value="Para empreendedores">Para empreendedores</option>
                <option value="Para executivos">Para executivos</option>
                <option value="Para aposentados">Para aposentados</option>
                <option value="Para especialistas em saúde">Para especialistas em saúde</option>
                <option value="Para gamers">Para gamers</option>
                <option value="Para pesquisadores acadêmicos">Para pesquisadores acadêmicos</option>
            </optgroup>
        </select>
    </div>


    <button class="btt" type="button" id="btt-id2">
        Enviar
    </button> <!--Type="button" usado para evitar que o formulário seja enviado automaticamente antes da validação.-->    
</form>