

<!--PARTIALS ABOUT FÓRM 1 FOR CONSTRUCT YOUR PROMPT WITH A TEXT REFERENCES-->

<form action="promptGeneratorModify" method="post" id="iform">
    <h1 class="h1-prompts">Escolha abaixo opções de construção para Prompts</h1>

    <div class="questions">
        <h2>Qual texto deseja modificar?</h2>
        <i class="material-icons">article</i>

        <textarea name="textModify" id="textRef">

        </textarea>
    </div>


    <div class="questions">
        <h2>Como gostaria de trabalhar com esse texto de referência ?</h2>
        <i class="material-icons">grid_view</i>

        <select name="especificacao" id="especificacao">
            <option value="" selected>Selecione uma especificação</option>
            <optgroup label="Especificações">
                <option value="Reformulá-lo">Reformulá-lo</option>
                <option value="Resumi-lo">Resumi-lo</option>
                <option value="Estruturá-lo">Estruturá-lo</option>
            </optgroup>
        </select>
    </div>


    <div class="questions">
        <h2>Escolha o NIVEL DE DETALHAMENTO do texto</h2>
        <i class="material-icons">article</i>
        
        <select name="detalhamento" id="detalhamento">
            <option value="" selected>Selecione o detalhamento</option>
            <optgroup label="Estilos">
                <option value="Resumido">Resumido</option>
                <option value="Intermediário">Intermediário</option>
                <option value="Extenso">Extenso</option>
                <option value="Minúncias e detalhes">Com minúncias e detalhes</option>
            </optgroup>
        </select>
    </div>


    <div class="questions">
        <h2>Escolha uma FORMATAÇÃO de texto</h2>
        <i class="material-icons">grid_view</i>

        <select name="formatosTextos" id="formatosTextos">
            <option value="" selected>Selecione o formato</option>
            <optgroup label="Formatos">
                <option value="Narrativa escrita">Narrativa escrita</option>
                <option value="Pergunta direta">Pergunta direta</option>
                <option value="Estruturado por tópicos">Estruturado por tópicos</option>
                <option value="de diálogo">De diálogo</option>
                <option value="de Comando">De Comando</option>
                <option value="de Caso de Uso ou Cenário">De Caso de Uso ou Cenário</option>
                <option value="Contínuo (Texto Corrido)">Contínuo (Texto Corrido)</option>
                <option value="Continuo + Tópicos se necessário">Continuo + tópicos somente quando necessário</option>
                <option value="de Resumo">De Resumo</option>
                <option value="de Instrução Técnica">De Instrução Técnica</option>
            </optgroup>
        </select>               
    </div>



    <div class="questions">
        <h2>Qual o OBJETIVO exato do texto ?</h2>
        <i class="material-icons">check</i>
        <p>Ex: "Escrever um resumo", "Criar uma história", "Fornecer uma explicação"</p>

        <input class="input-text" type="text" name="objectiveText" id="objectiveText" placeholder="Escreva seu objetivo aqui..." required>
    </div>


    
    <div class="questions">
        <h2>Especifique o ESTILO desejado para o texto</h2>
        <i class="material-icons">palette</i>
        <select name="estilo" id="estilo">
            <option value="" selected>Selecione o estilo</option>
            <optgroup label="Estilos">
                <option value="De forma concisa">De forma concisa</option>
                <option value="Com humor">Com humor</option>
                <option value="Em tom formal">Em tom formal</option>
                <option value="Em tom informal">Em tom informal</option>
                <option value="De forma persuasiva">De forma persuasiva</option>
                <option value="Em tom motivacional">Em tom motivacional</option>
                <option value="Em tom descritivo">Em tom descritivo</option>
                <option value="Em tom acadêmico">Em tom acadêmico</option>
                <option value="De forma poética">De forma poética</option>
                <option value="Em estilo jornalístico">Em estilo jornalístico</option>
                <option value="Em formato narrativo">Em formato narrativo</option>
                <option value="Com foco técnico">Com foco técnico</option>
            </optgroup>
        </select>
    </div>

    <div class="questions">
        <h2>Uso de FIGURAS e DIAGRAMAS</h2>
        <i class="material-icons">grid_view</i>

        <select name="FigurasDiagramas" id="FigurasDiagramas">
            <option value="" selected>Figuras e diagramas</option>
            <optgroup label="Figuras e diagramas">
                <option value="Sinalização de figuras/diagramas">Sinalização de figuras/diagramas</option>
                <option value="Somente texto">Somente texto</option>
            </optgroup>
        </select>
    </div>


    <div class="questions">
        <h2>Indique PARA QUEM o texto é direcionado</h2>
        <i class="material-icons">person</i>
        <select name="publicoAlvo" id="publicoAlvo">
            <option value="" selected>Selecione o publico</option>
            <optgroup label="publicoAlvo">
                <option value="Para adolescentes">Para adolescentes</option>
                <option value="Para profissionais de tecnologia">Para profissionais de tecnologia</option>
                <option value="Para profissionais do marketing">Para profissionais do marketing</option>
                <option value="Para um público geral">Para um público geral</option>
                <option value="Para crianças">Para crianças</option>
                <option value="Para estudantes universitários">Para estudantes universitários</option>
                <option value="Para empreendedores">Para empreendedores</option>
                <option value="Para executivos">Para executivos</option>
                <option value="Para aposentados">Para aposentados</option>
                <option value="Para especialistas em saúde">Para especialistas em saúde</option>
                <option value="Para gamers">Para gamers</option>
                <option value="Para pesquisadores acadêmicos">Para pesquisadores acadêmicos</option>
            </optgroup>
        </select>
    </div>

    <button class="btt" type="button" id="btt-id">
        Enviar
    </button> <!--Type="button" usado para evitar que o formulário seja enviado automaticamente antes da validação.-->
</form>