<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/homepage.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="pai">
        <h1 id="titulo-principal">GERADOR DE PROMPTS</h1>

        <div id="filho">
            <form action="promptGenerator" method="post" id="iform">
                <h1 id="h1-prompts">Escolha abaixo opções de construção para Prompts</h1>


                <div class="questions">
                    <h2>Qual ASSUNTO o texto deve abordar?</h2>
                    <i class="material-icons">article</i>
                    <p>Ex: "História do Brasil", "Politica", "Programação"</p>

                    <input class="input-text" type="text" name="aboutText" id="aboutText" placeholder="Escreva o assunto aqui..." required>
                </div>


                <div class="questions">
                    <h2>Escolha uma FORMATAÇÃO de texto</h2>
                    <i class="material-icons">grid_view</i>

                    <select name="formatosTextos" id="formatosTextos">
                        <option value="" selected>Selecione o formato</option>
                        <optgroup label="Formatos">
                            <option value="Narrativa escrita">Narrativa escrita</option>
                            <option value="Pergunta direta">Pergunta direta</option>
                            <option value="Estruturado por tópicos">Estruturado por tópicos</option>
                            <option value="de diálogo">De diálogo</option>
                            <option value="de Comando">De Comando</option>
                            <option value="de Caso de Uso ou Cenário">De Caso de Uso ou Cenário</option>
                            <option value="Contínuo (Texto Corrido)">Contínuo (Texto Corrido)</option>
                            <option value="de Resumo">De Resumo</option>
                            <option value="de Instrução Técnica">De Instrução Técnica</option>
                        </optgroup>
                    </select>               
                </div>



                <div class="questions">
                    <h2>Qual o OBJETIVO exato do texto ?</h2>
                    <i class="material-icons">check</i>
                    <p>Ex: "Escrever um resumo", "Criar uma história", "Fornecer uma explicação"</p>

                    <input class="input-text" type="text" name="objectiveText" id="objectiveText" placeholder="Escreva seu objetivo aqui..." required>
                </div>


                
                <div class="questions">
                    <h2>Especifique o ESTILO desejado para o texto</h2>
                    <i class="material-icons">palette</i>
                    <select name="estilo" id="estilo">
                        <option value="" selected>Selecione o estilo</option>
                        <optgroup label="Estilos">
                            <option value="De forma concisa">De forma concisa</option>
                            <option value="Com humor">Com humor</option>
                            <option value="Em tom formal">Em tom formal</option>
                            <option value="Em tom informal">Em tom informal</option>
                            <option value="De forma persuasiva">De forma persuasiva</option>
                            <option value="Em tom motivacional">Em tom motivacional</option>
                            <option value="Em tom descritivo">Em tom descritivo</option>
                            <option value="Em tom acadêmico">Em tom acadêmico</option>
                            <option value="De forma poética">De forma poética</option>
                            <option value="Em estilo jornalístico">Em estilo jornalístico</option>
                            <option value="Em formato narrativo">Em formato narrativo</option>
                            <option value="Com foco técnico">Com foco técnico</option>
                        </optgroup>
                    </select>
                </div>


                <div class="questions">
                    <h2>Defina oque NÃO DEVE ser incluido nele</h2>
                    <i class="material-icons">close</i>
                    <p>Ex: "Sem jargões técnicos", "Evite clichês", "Não deixe de mencionar referências"</p>

                    <input class="input-text" type="text" name="preferencias" id="preferencias" placeholder="Escreva suas preferências aqui..." required>
                </div>


                <div class="questions">
                    <h2>Indique PARA QUEM o texto é direcionado</h2>
                    <i class="material-icons">person</i>
                    <select name="publicoAlvo" id="publicoAlvo">
                        <option value="" selected>Selecione o publico</option>
                        <optgroup label="publicoAlvo">
                            <option value="Para adolescentes">Para adolescentes</option>
                            <option value="Para profissionais de tecnologia">Para profissionais de tecnologia</option>
                            <option value="Para profissionais do marketing">Para profissionais do marketing</option>
                            <option value="Para um público geral">Para um público geral</option>
                            <option value="Para crianças">Para crianças</option>
                            <option value="Para estudantes universitários">Para estudantes universitários</option>
                            <option value="Para empreendedores">Para empreendedores</option>
                            <option value="Para executivos">Para executivos</option>
                            <option value="Para aposentados">Para aposentados</option>
                            <option value="Para especialistas em saúde">Para especialistas em saúde</option>
                            <option value="Para gamers">Para gamers</option>
                            <option value="Para pesquisadores acadêmicos">Para pesquisadores acadêmicos</option>
                        </optgroup>
                    </select>
                </div>


                <div class="questions">
                    <h3>(opcional)</h3>
                    <h2>Inserir um texto já existente?</h2>
                    <i class="material-icons">content_copy</i>
                    <div id="inputsRadios">
                        <input class="input-radio" type="radio" name="resposta2" id="isim2" required>
                        <label for="isim">sim</label>
                    
                        <input class="input-radio" type="radio" name="resposta2" id="inao2" required>
                        <label for="inao">não</label>
                    </div>

                    <textarea name="textRef" id="textRef">

                    </textarea>
                </div>



                <button id="btt-id" type="button">Enviar</button> <!--Type="button" usado para evitar que o formulário seja enviado automaticamente antes da validação.-->    
            </form>
        </div>    
    </div>
</body>

<script>
    var btt = document.getElementById('btt-id');
    var form = document.getElementById('iform');
    
    btt.addEventListener('click', (event) =>{
        event.preventDefault();

        var formatoTextos = document.getElementById('formatosTextos').value;
        var estiloTextos = document.getElementById('estilo').value;
        var publicoAlvo = document.getElementById('publicoAlvo').value;
        var inputText = document.getElementsByClassName('input-text');

        var formValid = true; //variavel de controle de preenchimento de campos

        function validateFields(value, fieldName){
            if(value === ''){
                window.alert(`Campo de (${fieldName}) não preenchido. Preencha todos os campos, por favor!`);
                formValid = false;
            }
        }

        validateFields(formatoTextos, 'Formato de texto');
        validateFields(estiloTextos, 'Estilo de texto');
        validateFields(publicoAlvo, 'Público alvo');
        validateFields(inputText[0].value, 'Objetivo' );
        validateFields(inputText[1].value, 'Preferências')

        if(formValid){
            form.submit();
        }

    })

</script>

</html>