<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/homepage.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div id="pai">
        <h1 id="titulo-principal"><a href="/homepage">GERE SEU PROMPT</a></h1>

        <div id="div-btt">
            <button class="btt" id="gerar-texto-btt">Gerar um texto do zero</button>
            <button class="btt" id="modificar-texto-btt">Modificar um texto existente</button>
        </div>

        <div id="texto-gerado">
            <div id="preenchimento">
                <p id="p-prompt">
                    Gerar um bom prompt para uma IA, tipo o ChatGPT, é como dar 
                    as coordenadas certas para uma viagem: quanto mais claro 
                    e direto você for, melhor será o resultado. Se você disser 
                    exatamente o que quer, com detalhes e contexto, a IA vai 
                    te levar para o destino certo, sem desvios ou confusões. 
                    Isso faz a IA trabalhar mais rápido e de forma mais eficiente. 
                    Então, caprichar no prompt é o segredo para obter respostas 
                    certeiras e economizar tempo!
                </p>
            </div>

            <%- include('partials/form1.ejs') %>

            <%- include('partials/form2.ejs') %>

        </div>    
    </div>
</body>

<script>
    var btt = document.getElementById('btt-id');
    var btt2 = document.getElementById('btt-id2');
    var form1 = document.getElementById('iform');
    var form2 = document.getElementById('iform2');

    var gerarTextoBtt = document.getElementById('gerar-texto-btt');
    var modificarTextoBtt = document.getElementById('modificar-texto-btt');


    gerarTextoBtt.addEventListener('click', () =>{
        form2.style.display = 'flex';
        // Use requestAnimationFrame para garantir que o navegador tenha tempo de renderizar
        requestAnimationFrame(() => {
            var divPreenchimento = document.getElementById('preenchimento');
            var divButtons = document.getElementById('div-btt');
           
            divPreenchimento.style.display = 'none'
            modificarTextoBtt.style.display = 'none'
            gerarTextoBtt.style.display = 'none'
            divButtons.style.display = 'none'

            form2.classList.add('show');
        });
    })


    modificarTextoBtt.addEventListener('click', () =>{
        form1.style.display = 'flex';

        requestAnimationFrame(() => {
            var divPreenchimento = document.getElementById('preenchimento');
            var divButtons = document.getElementById('div-btt');

            divPreenchimento.style.display = 'none'
            modificarTextoBtt.style.display = 'none'
            gerarTextoBtt.style.display = 'none'
            divButtons.style.display = 'none'

            form1.classList.add('show');
        })
    })



    btt.addEventListener('click', (event) => {
        event.preventDefault();

        var textRef = document.getElementById('textRef').value;
        var especificacao = document.getElementById('especificacao').value
        var formatoTextos = document.getElementById('formatosTextos').value;
        var estiloTextos = document.getElementById('estilo').value;
        var publicoAlvo = document.getElementById('publicoAlvo').value;
        var inputText = document.getElementsByClassName('input-text');
        var detalhamentoText = document.getElementById('detalhamento').value;
        var FigurasDiagramasText = document.getElementById('FigurasDiagramas').value;
        
        var formValid = true
        var errors = []; // Array para armazenar mensagens de erro

            function validateFields(value, fieldName){
                if(value === ''){
                    errors.push(`Campo: <ins>${fieldName}</ins> não preenchido!`);
                    formValid = false;
                }
            }
    
        validateFields(textRef, 'Texto de referência');
        validateFields(especificacao, 'Especificação de texto');
        validateFields(detalhamentoText, 'Detalhamento');
        validateFields(formatoTextos, 'Formato de texto');
        validateFields(inputText.value, 'Objetivo');
        validateFields(estiloTextos, 'Estilo de texto');
        validateFields(FigurasDiagramasText, 'Figuras e diagramas');
        validateFields(publicoAlvo, 'Público alvo');                    

        if (!formValid) {
            // Exibir as mensagens de erro em um único alerta com quebras de linha
            Swal.fire({
                title: 'Erro!',
                html: errors.join('<br>'), // Junta mensagens com <br> para quebras de linha
                icon: 'error',
                confirmButtonText: 'Ok'
            });
        }else{
            form1.submit();
        }
    });



    btt2.addEventListener('click', (event) => {
        event.preventDefault();

        var assuntoTexto = document.getElementById('aboutText2').value;
        var formatoTextos = document.getElementById('formatosTextos2').value;
        var estiloTextos = document.getElementById('estilo2').value;
        var publicoAlvo = document.getElementById('publicoAlvo2').value;
        var inputText = document.getElementsByClassName('input-text2');
        var detalhamentoText = document.getElementById('detalhamento2').value;
        var exemplosText = document.getElementById('exemplos2').value;
        var FigurasDiagramasText = document.getElementById('FigurasDiagramas2').value;
        
        var formValid = true
        var errors = []; // Array para armazenar mensagens de erro

            function validateFields(value, fieldName){
                if(value === ''){
                    errors.push(`Campo: <ins>${fieldName}</ins> não preenchido!`);
                    formValid = false;
                }
            }

        validateFields(assuntoTexto, 'Assunto do texto');
        validateFields(detalhamentoText, 'Detalhamento');
        validateFields(formatoTextos, 'Formato de texto');
        validateFields(inputText[0].value, 'Objetivo');
        validateFields(estiloTextos, 'Estilo de texto');
        validateFields(exemplosText, 'Exemplos');
        validateFields(FigurasDiagramasText, 'Figuras e diagramas');
        validateFields(inputText[1].value, 'Preferências');
        validateFields(publicoAlvo, 'Público alvo');

        if (!formValid) {
            // Exibir as mensagens de erro em um único alerta com quebras de linha
            Swal.fire({
                title: 'Erro!',
                html: errors.join('<br>'), // Junta mensagens com <br> para quebras de linha
                icon: 'error',
                confirmButtonText: 'Ok'
            });
        }else{
            form2.submit();
        }
    });

</script>

</html>