<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>
    <div id="pai">
        <h1>Gerador de Prompts</h1>

        <div id="filho">
            <h2>ESCOLHA AS OPÇÕES DE PROMPTS</h2>

            <div class="questions">
                <h2>Quer uma NOVA FORMATAÇÃO para um texto já existente ?</h2>

                <form action="promptGenerator" method="post" id="iform">
                    <div id="inputsRadios">
                        <input class="input-radio" type="radio" name="simInput" id="isim">
                        <label for="isim">sim</label>
                    
                        <input class="input-radio" type="radio" name="naoInput" id="inao">
                        <label for="inao">não</label>
                    </div>

                    <select name="formatosTextos" id="formatosTextos">
                        <option value="" selected>Selecione o formato</option>
                        <optgroup label="Formatos">
                            <option value="Narrativa escrita">Narrativa escrita</option>
                            <option value="Pergunta direta">Pergunta direta</option>
                            <option value="Formato Estruturado por tópicos">Formato Estruturado por tópicos</option>
                            <option value="Formato de diálogo">Formato de diálogo</option>
                            <option value="Formato de Comando">Formato de Comando</option>
                            <option value="Formato de Caso de Uso ou Cenário">Formato de Caso de Uso ou Cenário</option>
                            <option value="Formato Contínuo (Texto Corrido)">Formato Contínuo (Texto Corrido)</option>
                            <option value="Formato de Resumo">Formato de Resumo</option>
                            <option value="Formato de Instrução Técnica">Formato de Instrução Técnica</option>
                        </optgroup>
                    </select>
                    <button id="btt-id" type="button">Enviar</button> <!--Type="button" usado para evitar que o formulário seja enviado automaticamente antes da validação.-->
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    var btt = document.getElementById('btt-id')
    var form = document.getElementById('iform')
    

    btt.addEventListener('click', () =>{
        var formatoTextos = document.getElementById('formatosTextos').value;        
        var simBtt = document.getElementById('isim').value;        
        var naoBtt = document.getElementById('inao').value;        

        if(formatoTextos === ''){
            window.alert(`Campo ${formatoTextos} não preenchido. Preencha todos os campos, por favor!`)
        }else{
            form.submit()
        }
    })
</script>

</html>