<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta com Prompt</title>
    <link rel="stylesheet" href="/prompt.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="pai">
        <h1 id="titulo-principal">Prompt gerado</h1>

        <div id="filho">
            <button id="btt">
                Copie e Cole
                <i class="material-icons">content_copy</i>
            </button>
            <p id="p-prompt">
                <%= formatoVar %>
            </p>

            <button id="btt-id">
                <a href="/homepage">Voltar a homepage</a>
            </button>
        </div>

    </div>

</body>

<script>

    //lógica para copiar texto para área de transferência
    var btt = document.getElementById('btt');

    btt.addEventListener('click', () =>{
        var text = document.getElementById('p-prompt').innerText;
        
        navigator.clipboard.writeText(text)
            .then(() =>{
                alert('Prompt COPIADO para área de transferência!');
            })
            .catch((error) =>{
                console.log(`Erro ao copiar texto ${error}`);
            })
    })

</script>


</html>