<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta com Prompt</title>
</head>
<body>
    
    <p>Eis aqui seu prompt:</p> <br>
    <p><%= formatoVar %></p>

    <a href="/homepage">
        <button>Voltar a homepage</button>
    </a>

</body>
</html>