<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta com Prompt</title>
    <link rel="stylesheet" href="/prompt.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div id="pai">
        <h1 id="titulo-principal">Prompt gerado</h1>

        <div id="filho">     
            <button id="btt">
                Copie e Cole
                <i class="material-icons">content_copy</i>
            </button>
            <p id="p-prompt">
                <%= prompt %>
            </p>

            <button id="btt-id">
                <a href="/homepage">Voltar a homepage</a>
            </button>
        </div>

    </div>

</body>

<script>

    //lógica para copiar texto para área de transferência
    var btt = document.getElementById('btt');

    btt.addEventListener('click', () =>{
        var text = document.getElementById('p-prompt').innerText;
        
        navigator.clipboard.writeText(text)
            .then(() =>{
                Swal.fire({
                    title: 'Sucesso!',
                    text: 'Prompt COPIADO para área de transferência!',
                    icon: 'success', // Outros ícones: 'error', 'warning', 'info', 'question'
                    confirmButtonText: 'Ok' // Texto do botão de confirmação
                });
            })
            .catch((error) =>{
                console.log(`Erro ao copiar texto ${error}`);
            })
    })

</script>


</html>