@charset "UTF-8";

html, body{
    margin: 0px;
    padding: 0px;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

i{
    color: white;
}

div#pai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 100%;
    background-image: url(/imagens/imagem2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1#titulo-principal{
    font-size: 40px;
    margin: 0px;
    font-style: italic;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
#titulo-principal:hover{
    transform: scale(1.05);
}

a{
    color: white;
    text-decoration: none;
}

.h1-prompts{
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 20px;
    font-style: italic;
}

#div-btt{
    height: 70px;
    width: 38%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

div#preenchimento{
    height: 46.9vh;
}

#p-prompt{
    font-size: 22px;
    padding: 30px;
    border-radius: 20px;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-style: italic;
    letter-spacing: 1px;
    margin: 0px;
}

div#texto-gerado{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding: 40px;
    width: 70%;
    border-radius: 20px;
    background-image: linear-gradient(to right, #0269a900, #0269a97a, #0269a900);
}

form{
    display: none;
    opacity: 0; /* Começa invisível */
    transform: translateY(-20px); /* Começa ligeiramente acima */
    transition: opacity 1.0s ease, transform 1.0s ease; /* Define a animação */
}
.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Fica visível */
    transform: translateY(0); /* Volta à posição original */
}

div.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    width: 90%;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.764);
    margin-top: 10px;
    margin-bottom: 40px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.questions:hover{
    transform: scale(1.05);
}

h2{
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 0px;
}

p{
    color: white;
    text-align: center;
}

div#inputsRadios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

label{
    color: white;
    font-size: 18px;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    height: 40px;
    width: 50%;
    background-color: white;
    transition: transform 0.5s ease;
    text-align: center;
}

input:focus{
    outline: none;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.491);
    text-align: center;
}

select{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    border-radius: 10px;
    height: 50px;
    width: 50%;
    cursor: pointer;
    background-color: white;
    transition: transform 0.5s ease;
    margin-top: 20px;
}
select:focus{
    outline: none;
}

textarea{
    border: 3px solid black;
    border-radius: 10px;
    height: 120px;
    width: 90%;
}

button.btt{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
    background-color: black;
    color: white;
}
.btt:hover{
    transform: scale(1.03);
    background-color: rgb(23, 23, 23);
}

