
@charset "UTF-8";

html, body{
    margin: 0px;
    padding: 0px;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

i{
    color: white;
}

div#pai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 100%;
    background-image: url(/imagens/imagem2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1#titulo-principal{
    font-size: 40px;
    margin: 0px;
    font-style: italic;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
}

div#filho{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding: 40px;
    width: 70%;
    border-radius: 20px;
    background-image: linear-gradient(to right, #0269a900, #0269a97a, #0269a900);
}

#btt{
    font-size: 22px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    margin: 0px 0px 15px 0px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
#btt:hover{
    transform: scale(1.05);
    background-color: rgb(23, 23, 23);
}

#p-prompt{
    font-size: 22px;
    padding: 30px;
    border-radius: 20px;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-style: italic;
    letter-spacing: 1px;
    margin: 0px;
}

button#btt-id{
    margin-top: 20px;
    height: 50px;
    width: 22%;
    font-size: 20px;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
    background-color: black;
    color: white;
}
#btt-id:hover{
    transform: scale(1.08);
    background-color: rgb(23, 23, 23);
}

a{
    color: white;
    text-decoration: none;
}
